# Import, clean and review population projection data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# Setup filename variables
population_csv = '../data/raw/population_projections_by_county.csv'

# import files to dataframes
population = pd.read_csv(population_csv) 

population

,County FIPS,County,2018,2019,2020,2021,2022,2023,2024,2025,...,2063,2064,2065,2066,2067,2068,2069,2070,Unnamed: 55,Unnamed: 56
0,001,Anderson,76482.0,76826.0,77151.0,77459.0,77746.0,78016.0,78266.0,78500.0,...,84198.0,84360.0,84524.0,84690.0,84859.0,85029.0,85202.0,85377.0,NaN,NaN
1,003,Bedford,49038.0,49651.0,50255.0,50850.0,51436.0,52011.0,52579.0,53139.0,...,73780.0,74372.0,74964.0,75559.0,76156.0,76755.0,77357.0,77960.0,NaN,NaN
2,005,Benton,16184.0,16193.0,16220.0,16243.0,16259.0,16268.0,16273.0,16273.0,...,15460.0,15442.0,15425.0,15407.0,15391.0,15375.0,15360.0,15345.0,NaN,NaN
3,007,Bledsoe,14755.0,14887.0,15017.0,15143.0,15265.0,15380.0,15490.0,15592.0,...,16503.0,16493.0,16482.0,16469.0,16456.0,16442.0,16427.0,16412.0,NaN,NaN
4,009,Blount,131349.0,132596.0,133808.0,134982.0,136116.0,137211.0,138267.0,139287.0,...,167928.0,168681.0,169437.0,170195.0,170959.0,171725.0,172494.0,173265.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,NaN,Nashville-Davidson-Murfreesboro-Franklin,1930961.0,1962024.0,1992695.0,2022917.0,2052704.0,2082072.0,2111072.0,2139741.0,...,3188177.0,3216682.0,3245231.0,3273824.0,3302467.0,3331167.0,3359920.0,3388732.0,0.0,0.0
108,*TN counties only,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,Source: Boyd Center for Business and Economic ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,"Note: 2018 data are July 1, 2018, counts from ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
nashville_population = population.loc[population.County == 'Davidson']
nashville_population

,County FIPS,County,2018,2019,2020,2021,2022,2023,2024,2025,...,2063,2064,2065,2066,2067,2068,2069,2070,Unnamed: 55,Unnamed: 56
18,037,Davidson,692587.0,699142.0,705400.0,711359.0,717032.0,722445.0,727642.0,732649.0,...,944551.0,951318.0,958144.0,965030.0,971976.0,978988.0,986064.0,993206.0,NaN,NaN

In [4]:
# drop unneded columns
nashville_population = nashville_population.drop(['County FIPS', 'Unnamed: 55', 'Unnamed: 56'], axis=1)

nashville_population

,County,2018,2019,2020,2021,2022,2023,2024,2025,2026,...,2061,2062,2063,2064,2065,2066,2067,2068,2069,2070
18,Davidson,692587.0,699142.0,705400.0,711359.0,717032.0,722445.0,727642.0,732649.0,737504.0,...,931182.0,937839.0,944551.0,951318.0,958144.0,965030.0,971976.0,978988.0,986064.0,993206.0

In [5]:
# reformat using melt() for plotting in Tableau
# pd.melt(df, id_vars =['Name'], value_vars =['Course', 'Age']) 

nashville_tidy = nashville_population.melt(id_vars =['County'], var_name='year', value_name='population') 
nashville_tidy

      County  year  population
0   Davidson  2018    692587.0
1   Davidson  2019    699142.0
2   Davidson  2020    705400.0
3   Davidson  2021    711359.0
4   Davidson  2022    717032.0
5   Davidson  2023    722445.0
6   Davidson  2024    727642.0
7   Davidson  2025    732649.0
8   Davidson  2026    737504.0
9   Davidson  2027    742241.0
10  Davidson  2028    746905.0
11  Davidson  2029    751527.0
12  Davidson  2030    756117.0
13  Davidson  2031    760688.0
14  Davidson  2032    765260.0
15  Davidson  2033    769891.0
16  Davidson  2034    774585.0
17  Davidson  2035    779348.0
18  Davidson  2036    784188.0
19  Davidson  2037    789117.0
20  Davidson  2038    794137.0
21  Davidson  2039    799256.0
22  Davidson  2040    804488.0
23  Davidson  2041    809839.0
24  Davidson  2042    815300.0
25  Davidson  2043    820855.0
26  Davidson  2044    826497.0
27  Davidson  2045    832220.0
28  Davidson  2046    838020.0
29  Davidson  2047    843886.0
30  Davidson  2048    849810.0
31  Davidson  2049    855789.0
32  Davidson  2050    861817.0
33  Davidson  2051    867889.0
34  Davidson  2052    873998.0
35  Davidson  2053    880141.0
36  Davidson  2054    886324.0
37  Davidson  2055    892551.0
38  Davidson  2056    898835.0
39  Davidson  2057    905179.0
40  Davidson  2058    911582.0
41  Davidson  2059    918046.0
42  Davidson  2060    924575.0
43  Davidson  2061    931182.0
44  Davidson  2062    937839.0
45  Davidson  2063    944551.0
46  Davidson  2064    951318.0
47  Davidson  2065    958144.0
48  Davidson  2066    965030.0
49  Davidson  2067    971976.0
50  Davidson  2068    978988.0
51  Davidson  2069    986064.0
52  Davidson  2070    993206.0

In [6]:
# save new dataframes
nashville_population.to_csv('../data/clean/nashville_population.csv')
nashville_tidy.to_csv('../data/clean/nashville_tidy_population.csv')