# Import Data and Create Dataframes

- set up the dataframes
- clean up as needed
- join as needed
- save cleaned and joined dataframes

## DEBUGDEBUG
- population_projections has float columns that should be int
- agi_by_state_2017 and agi_by_zip dataframes are displaying weird when I do .info. Take a closer look

# Import Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Import and Setup Dataframes

In [2]:
# Setup filename variables
outpatient_csv = '../data/tennessee_outpatient_clean.csv'
cbsa2name_csv = '../data/core-based-statistical-areas-cbsas-and-combined-statistical-areas-csas.csv'
agi_by_state_2017_csv = '../data/Adjusted Gross Income Percentiles by State Tax Year 2017.csv'
agi_by_zip_2017_csv = '../data/income by zip 2017.csv'
population_projections_csv = '../data/State Population Projections 2004-2030.csv'

# import files to dataframes
cbsa_to_name = pd.read_csv(cbsa2name_csv, engine='python')
outpatient = pd.read_csv(outpatient_csv, low_memory=False,
                         dtype={"provider_name": object, "provider_street_address": object, "provider_city": object})
agi_by_state_2017 = pd.read_csv(agi_by_state_2017_csv)
agi_by_zip_2017 = pd.read_csv(agi_by_zip_2017_csv)
population_projections = pd.read_csv(population_projections_csv, sep='\t')

In [3]:
# confirm imports
print('This is: cbsa_to_name')
print(cbsa_to_name.info())

print('\n\nThis is: outpatient')
print(outpatient.info())

print('\n\nThis is: agi_by_state_2017')
print(agi_by_state_2017.info())

print('\n\nThis is: agi_by_zip_2017')
print(agi_by_zip_2017.info())

print('\n\nThis is: population_projections')
print(population_projections.info())

This is: cbsa_to_name
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
CBSA Code                                     1918 non-null object
Metropolitan Division Code                    111 non-null object
CSA Code                                      1256 non-null object
CBSA Title                                    1916 non-null object
Metropolitan/Micropolitan Statistical Area    1915 non-null object
Metropolitan Division Title                   1915 non-null object
CSA Title                                     110 non-null object
County/County Equivalent                      1255 non-null object
State Name                                    1915 non-null object
FIPS State Code                               1915 non-null object
FIPS County Code                              1915 non-null object
Central/Outlying County                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: object(15)
memory usage: 224.9+ KB
None


This is: outpatient
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47417 entries, 0 to 47416
Data columns (total 23 columns):
Unnamed: 0                                   47417 non-null int64
provider_id                                  79 non-null float64
provider_name                                79 non-null object
provider_street_address                      79 non-null object
provider_city                                79 non-null object
provider_state                               79 non-null object
provider_zip_code                            79 non-null float64
provider_hospital_referral_region_(hrr)      79 non-null object
apc                                          79 non-null float64
apc_description                              79 non-null object
beneficiaries                                77 non-null float64
comprehensive_apc_services                   79 non-null float64
average_estimated_total_submitted_charges    79 non-null float64
average_medicare_allowed_amount              79 non-null float64
average_medicare_payment_amount              79 non-null float64
outlier_comprehensive_apc_services           73 non-null float64
average_medicare_outlier_amount              73 non-null float64
zip                                          47417 non-null int64
cbsa                                         47417 non-null int64
res_ratio                                    47417 non-null float64
bus_ratio                                    47417 non-null float64
oth_ratio                                    47417 non-null float64
tot_ratio                                    47417 non-null float64
dtypes: float64(14), int64(3), object(6)
memory usage: 8.3+ MB
None


This is: agi_by_state_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Columns: 142 entries, statefips to sum_tax_75
dtypes: float64(59), int64(81), object(2)
memory usage: 58.9+ KB
None


This is: agi_by_zip_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166537 entries, 0 to 166536
Columns: 153 entries, STATEFIPS to A12000
dtypes: int64(152), object(1)
memory usage: 194.4+ MB
None


This is: population_projections
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
Notes                    23 non-null object
Year                     38 non-null float64
Year Code                38 non-null float64
Age Group                36 non-null object
Age Group Code           36 non-null object
Projected Populations    39 non-null float64
dtypes: float64(3), object(3)
memory usage: 2.9+ KB
None

# Clean Up Column Names and Dtypes

In [4]:
# convert spaces to underscores and make lowercase
# NOTE: Make this a function and add to my library
cbsa_to_name.columns = cbsa_to_name.columns.str.replace(' ', '_').str.lower()
agi_by_state_2017.columns = agi_by_state_2017.columns.str.replace(' ', '_').str.lower()
agi_by_zip_2017.columns = agi_by_zip_2017.columns.str.replace(' ', '_').str.lower()
population_projections.columns = population_projections.columns.str.replace(' ', '_').str.lower()

In [5]:
# confirm conversion
print('This is: cbsa_to_name')
print(cbsa_to_name.info())

print('\n\nThis is: agi_by_state_2017')
print(agi_by_state_2017.info())

print('\n\nThis is: agi_by_zip_2017')
print(agi_by_zip_2017.info())

print('\n\nThis is: population_projections')
print(population_projections.info())

This is: cbsa_to_name
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
cbsa_code                                     1918 non-null object
metropolitan_division_code                    111 non-null object
csa_code                                      1256 non-null object
cbsa_title                                    1916 non-null object
metropolitan/micropolitan_statistical_area    1915 non-null object
metropolitan_division_title                   1915 non-null object
csa_title                                     110 non-null object
county/county_equivalent                      1255 non-null object
state_name                                    1915 non-null object
fips_state_code                               1915 non-null object
fips_county_code                              1915 non-null object
central/outlying_county                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: object(15)
memory usage: 224.9+ KB
None


This is: agi_by_state_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Columns: 142 entries, statefips to sum_tax_75
dtypes: float64(59), int64(81), object(2)
memory usage: 58.9+ KB
None


This is: agi_by_zip_2017
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166537 entries, 0 to 166536
Columns: 153 entries, statefips to a12000
dtypes: int64(152), object(1)
memory usage: 194.4+ MB
None


This is: population_projections
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
notes                    23 non-null object
year                     38 non-null float64
year_code                38 non-null float64
age_group                36 non-null object
age_group_code           36 non-null object
projected_populations    39 non-null float64
dtypes: float64(3), object(3)
memory usage: 2.9+ KB
None

In [6]:
# Cast CBSA code to numeric
cbsa_to_name['cbsa_code'] = pd.to_numeric(cbsa_to_name['cbsa_code'], errors='coerce')
print(cbsa_to_name.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
cbsa_code                                     1915 non-null float64
metropolitan_division_code                    111 non-null object
csa_code                                      1256 non-null object
cbsa_title                                    1916 non-null object
metropolitan/micropolitan_statistical_area    1915 non-null object
metropolitan_division_title                   1915 non-null object
csa_title                                     110 non-null object
county/county_equivalent                      1255 non-null object
state_name                                    1915 non-null object
fips_state_code                               1915 non-null object
fips_county_code                              1915 non-null object
central/outlying_county                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: float64(1), object(14)
memory usage: 224.9+ KB
None

In [7]:
###################################################
# drop the rows where 'notes'=='Total', they have NaN in 'age_group' column
# this leaves us with only year and population info

# df = df[df['EPS'].notna()]
population_projections=population_projections[population_projections['age_group'].notna()]

# Convert Year and Population columns to int.
# >>> df[list("ABCD")] = df[list("ABCD")].astype(int)
population_projections[['year','year_code','projected_populations']] = population_projections[['year','year_code','projected_populations']].astype(int)

# drop notes column
population_projections = population_projections.drop(['notes'], axis=1)
population_projections

    year  year_code     age_group age_group_code  projected_populations
0   2025       2025     0-4 years            0-4                 481714
1   2025       2025     5-9 years            5-9                 466987
2   2025       2025   10-14 years          10-14                 462242
3   2025       2025   15-19 years          15-19                 464989
4   2025       2025   20-24 years          20-24                 466395
5   2025       2025   25-29 years          25-29                 442275
6   2025       2025   30-34 years          30-34                 445935
7   2025       2025   35-39 years          35-39                 436057
8   2025       2025   40-44 years          40-44                 427959
9   2025       2025   45-49 years          45-49                 419593
10  2025       2025   50-54 years          50-54                 422462
11  2025       2025   55-59 years          55-59                 422412
12  2025       2025  60-64 years           60-64                 434124
13  2025       2025   65-69 years          65-69                 396661
14  2025       2025   70-74 years          70-74                 327393
15  2025       2025   75-79 years          75-79                 252957
16  2025       2025   80-84 years          80-84                 153645
17  2025       2025     85+ years            85+                 149325
19  2030       2030     0-4 years            0-4                 515032
20  2030       2030     5-9 years            5-9                 498596
21  2030       2030   10-14 years          10-14                 486349
22  2030       2030   15-19 years          15-19                 486191
23  2030       2030   20-24 years          20-24                 479830
24  2030       2030   25-29 years          25-29                 472833
25  2030       2030   30-34 years          30-34                 450614
26  2030       2030   35-39 years          35-39                 455540
27  2030       2030   40-44 years          40-44                 443427
28  2030       2030   45-49 years          45-49                 429675
29  2030       2030   50-54 years          50-54                 417914
30  2030       2030   55-59 years          55-59                 418466
31  2030       2030  60-64 years           60-64                 408459
32  2030       2030   65-69 years          65-69                 404412
33  2030       2030   70-74 years          70-74                 356420
34  2030       2030   75-79 years          75-79                 278858
35  2030       2030   80-84 years          80-84                 197826
36  2030       2030     85+ years            85+                 180192

In [8]:
# these look wrong, take a closer look
print('\n\nThis is: agi_by_state_2017')
print(agi_by_state_2017.head())

print('\n\nThis is: agi_by_zip_2017')
print(agi_by_zip_2017.head())

This is: agi_by_state_2017
   statefips state     state_name      total   top_01   top_05    top_10  \
0          0    US  United States  140871623  1408716  7043581  14087162
1          1    AL        Alabama    1912769    19128    95638    191277
2          2    AK         Alaska     317892     3179    15895     31789
3          4    AZ        Arizona    2837210    28372   141861    283721
4          5    AR       Arkansas    1147443    11474    57372    114744

     top_25    top_50     top_75  ...  sum_scorp_50  num_scorp_75  \
0  35217906  70435812  105653717  ...  7.268620e+11       7962545
1    478192    956385    1434577  ...  7.302828e+09         85913
2     79473    158946     238419  ...  1.315947e+09         17060
3    709303   1418605    2127908  ...  1.118380e+10        148837
4    286861    573722     860582  ...  3.876006e+09         60420

   sum_scorp_75     total_tax    sum_tax_01    sum_tax_05    sum_tax_10  \
0  7.318500e+11  1.602690e+12  6.144710e+11  9.442590e+11  1.119600e+12
1  7.330675e+09  1.442731e+10  4.866651e+09  7.830064e+09  9.608232e+09
2  1.325595e+09  3.284380e+09  8.092438e+08  1.451506e+09  1.878432e+09
3  1.126702e+10  2.570747e+10  8.888730e+09  1.423860e+10  1.731848e+10
4  3.897756e+09  9.140164e+09  3.842035e+09  5.532970e+09  6.503461e+09

     sum_tax_25    sum_tax_50    sum_tax_75
0  1.375300e+12  1.550400e+12  1.598350e+12
1  1.226745e+10  1.399573e+10  1.439507e+10
2  2.577750e+09  3.099170e+09  3.263449e+09
3  2.183370e+10  2.481450e+10  2.562265e+10
4  7.944939e+09  8.882332e+09  9.119600e+09

[5 rows x 142 columns]


This is: agi_by_zip_2017
   statefips state  zipcode  agi_stub      n1   mars1   mars2   mars4     elf  \
0          1    AL        0         1  802640  474470   99850  216600  717050
1          1    AL        0         2  499070  218590  137460  129760  448190
2          1    AL        0         3  268590   89780  134440   38280  241060
3          1    AL        0         4  170880   32180  124070   11660  154120
4          1    AL        0         5  229870   22810  196990    5540  208380

   cprep  ...  n85300  a85300  n11901  a11901  n11900   a11900  n11902  \
0  44090  ...       0       0   64680   53602  700940  1803125  698100
1  26230  ...       0       0   77660  118725  419640  1175607  416180
2  14160  ...       0       0   67820  156752  201030   560461  197060
3   7980  ...       0       0   48440  141721  121930   396526  118460
4  11120  ...      50      19   91100  465160  138250   588068  130970

    a11902  n12000  a12000
0  1796343    2860    4917
1  1165352    4250    8894
2   547812    5440   13482
3   383588    3160   12369
4   529001    8430   55564

[5 rows x 153 columns]

# Join Files? 
- not sure if I should do this yet as file are still having issues. Commented out for now.

In [9]:
outpatient = pd.merge(left=outpatient, right=cbsa_to_name, 
                                      left_on='cbsa', right_on='cbsa_code', how='inner')

print(outpatient.info())
outpatient.head(30)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191227 entries, 0 to 191226
Data columns (total 38 columns):
Unnamed: 0                                    191227 non-null int64
provider_id                                   417 non-null float64
provider_name                                 417 non-null object
provider_street_address                       417 non-null object
provider_city                                 417 non-null object
provider_state                                417 non-null object
provider_zip_code                             417 non-null float64
provider_hospital_referral_region_(hrr)       417 non-null object
apc                                           417 non-null float64
apc_description                               417 non-null object
beneficiaries                                 415 non-null float64
comprehensive_apc_services                    417 non-null float64
average_estimated_total_submitted_charges     417 non-null float64
average_medicare_allowed_amount               417 non-null float64
average_medicare_payment_amount               417 non-null float64
outlier_comprehensive_apc_services            368 non-null float64
average_medicare_outlier_amount               368 non-null float64
zip                                           191227 non-null int64
cbsa                                          191227 non-null int64
res_ratio                                     191227 non-null float64
bus_ratio                                     191227 non-null float64
oth_ratio                                     191227 non-null float64
tot_ratio                                     191227 non-null float64
cbsa_code                                     191227 non-null float64
metropolitan_division_code                    68060 non-null object
csa_code                                      166470 non-null object
cbsa_title                                    191227 non-null object
metropolitan/micropolitan_statistical_area    191227 non-null object
metropolitan_division_title                   191227 non-null object
csa_title                                     68060 non-null object
county/county_equivalent                      166470 non-null object
state_name                                    191227 non-null object
fips_state_code                               191227 non-null object
fips_county_code                              191227 non-null object
central/outlying_county                       191227 non-null object
columnm                                       191227 non-null object
columnn                                       166470 non-null object
columno                                       68060 non-null object
dtypes: float64(15), int64(3), object(20)
memory usage: 56.9+ MB
None

,Unnamed: 0,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,provider_hospital_referral_region_(hrr),apc,apc_description,...,metropolitan_division_title,csa_title,county/county_equivalent,state_name,fips_state_code,fips_county_code,central/outlying_county,columnm,columnn,columno
0,0,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
1,17633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
2,17637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
3,17655,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
4,17670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
5,17684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
6,17687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
7,17689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
8,17693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
9,17878,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Micropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Haywood County,Tennessee,47,75,Central,NaN
10,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
11,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
12,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
13,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
14,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
15,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
16,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
17,32,440060.0,Milan General Hospital,4039 Highland St,Milan,TN,38358.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
18,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
19,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
20,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
21,17629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
22,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
23,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
24,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
25,17632,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN
26,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Madison County,Tennessee,47,113,Central,NaN
27,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Chester County,Tennessee,47,23,Outlying,NaN
28,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Crockett County,Tennessee,47,33,Outlying,NaN
29,17644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Metropolitan Statistical Area,NaN,Jackson-Brownsville,TN,Gibson County,Tennessee,47,53,Outlying,NaN

In [10]:
# Still some extraneous columns, let's everything but this list:
# provider_id
# provider_name
# provider_street_address
# provider_city
# provider_state
# provider_zip_code
# apc
# apc_description
# beneficiaries
# comprehensive_apc_services
# cbsa
# cbsa_title

apc_locations = outpatient[[
    'provider_id', 'provider_name', 'provider_street_address', 'provider_city', 'provider_state', 'provider_zip_code',
    'apc', 'apc_description', 'beneficiaries', 'comprehensive_apc_services', 'cbsa', 'cbsa_title'
]].copy()
print(apc_locations.info())
apc_locations = apc_locations.dropna()
apc_locations.tail(30)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 191227 entries, 0 to 191226
Data columns (total 12 columns):
provider_id                   417 non-null float64
provider_name                 417 non-null object
provider_street_address       417 non-null object
provider_city                 417 non-null object
provider_state                417 non-null object
provider_zip_code             417 non-null float64
apc                           417 non-null float64
apc_description               417 non-null object
beneficiaries                 415 non-null float64
comprehensive_apc_services    417 non-null float64
cbsa                          191227 non-null int64
cbsa_title                    191227 non-null object
dtypes: float64(5), int64(1), object(6)
memory usage: 19.0+ MB
None

,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,apc,apc_description,beneficiaries,comprehensive_apc_services,cbsa,cbsa_title
4895,440091.0,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,315.0,373.0,16860,Chattanooga
4896,440091.0,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,315.0,373.0,16860,Chattanooga
4897,440091.0,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,315.0,373.0,16860,Chattanooga
4898,440091.0,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,315.0,373.0,16860,Chattanooga
4899,440091.0,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,315.0,373.0,16860,Chattanooga
4900,440091.0,"Memorial Healthcare System, Inc",2525 Desales Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,315.0,373.0,16860,Chattanooga
4901,440156.0,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,37.0,40.0,16860,Chattanooga
4902,440156.0,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,37.0,40.0,16860,Chattanooga
4903,440156.0,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,37.0,40.0,16860,Chattanooga
4904,440156.0,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,37.0,40.0,16860,Chattanooga
4905,440156.0,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,37.0,40.0,16860,Chattanooga
4906,440156.0,Parkridge Medical Center,2333 Mccallie Ave,Chattanooga,TN,37404.0,5302.0,Level 2 Upper GI Procedures,37.0,40.0,16860,Chattanooga
4907,440104.0,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0,5302.0,Level 2 Upper GI Procedures,109.0,132.0,16860,Chattanooga
4908,440104.0,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0,5302.0,Level 2 Upper GI Procedures,109.0,132.0,16860,Chattanooga
4909,440104.0,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0,5302.0,Level 2 Upper GI Procedures,109.0,132.0,16860,Chattanooga
4910,440104.0,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0,5302.0,Level 2 Upper GI Procedures,109.0,132.0,16860,Chattanooga
4911,440104.0,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0,5302.0,Level 2 Upper GI Procedures,109.0,132.0,16860,Chattanooga
4912,440104.0,Erlanger Medical Center,975 E 3rd St,Chattanooga,TN,37403.0,5302.0,Level 2 Upper GI Procedures,109.0,132.0,16860,Chattanooga
4913,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,16860,Chattanooga
4914,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,16860,Chattanooga
4915,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,16860,Chattanooga
4916,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,16860,Chattanooga
4917,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,16860,Chattanooga
4918,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,16860,Chattanooga
5321,440102.0,Lincoln Medical Center,106 Medical Center Blvd,Fayetteville,TN,37334.0,5302.0,Level 2 Upper GI Procedures,21.0,22.0,43180,Shelbyville
5322,440144.0,Tennova Healthcare-Harton,1801 N Jackson St Box 460,Tullahoma,TN,37388.0,5302.0,Level 2 Upper GI Procedures,17.0,20.0,43180,Shelbyville
5335,440132.0,Henry County Medical Center,301 Tyson Av,Paris,TN,38242.0,5302.0,Level 2 Upper GI Procedures,91.0,94.0,37540,Paris
5345,440175.0,Southern Tennessee Regional Health System Lawr...,Hwy 43 S Box 847,Lawrenceburg,TN,38464.0,5302.0,Level 2 Upper GI Procedures,46.0,49.0,29980,Lawrenceburg
5356,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,17420,Cleveland
5357,440185.0,Tennova Healthcare-Cleveland,2305 Chambliss Ave Nw,Cleveland,TN,37311.0,5302.0,Level 2 Upper GI Procedures,32.0,36.0,17420,Cleveland

# Export clean files

In [11]:
apc_locations.to_csv('../data/apc_locations.csv')
# cbsa_to_name.to_csv('../data/cbsa2name_clean.csv')
# agi_by_state_2017.to_csv('../data/agi_by_state_2017_clean.csv')
# agi_by_zip_2017.to_csv('../data/agi_by_zip_2017_clean.csv')
population_projections.to_csv('../data/population_projections_clean.csv')

# Import next set of data
- .info()
- .head()
- .tail()
- .shape

In [12]:
# Setup filename variables
tenn_health_rankings_excel = '../data/2020 County Health Rankings Tennessee Data - v1_0.xlsx'
cities_csv = '../data/500_Cities__Local_Data_for_Better_Health__2019_release.csv'

# import files to dataframes
tenn_health_rankings = pd.read_excel(tenn_health_rankings_excel)
cities = pd.read_csv(cities_csv)

tenn_health_rankings.info()
cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 3 columns):
Unnamed: 0    49 non-null object
Unnamed: 1    241 non-null object
Unnamed: 2    192 non-null object
dtypes: object(3)
memory usage: 6.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15299 entries, 0 to 15298
Data columns (total 24 columns):
Year                          15299 non-null int64
StateAbbr                     15299 non-null object
StateDesc                     15299 non-null object
CityName                      15299 non-null object
GeographicLevel               15299 non-null object
DataSource                    15299 non-null object
Category                      15299 non-null object
UniqueID                      15299 non-null object
Measure                       15299 non-null object
Data_Value_Unit               15299 non-null object
DataValueTypeID               15299 non-null object
Data_Value_Type               15299 non-null object
Data_Value                    14632 non-null float64
Low_Confidence_Limit          14632 non-null float64
High_Confidence_Limit         14632 non-null float64
Data_Value_Footnote_Symbol    667 non-null object
Data_Value_Footnote           667 non-null object
PopulationCount               15299 non-null object
GeoLocation                   15299 non-null object
CategoryID                    15299 non-null object
MeasureId                     15299 non-null object
CityFIPS                      15299 non-null int64
TractFIPS                     14963 non-null float64
Short_Question_Text           15299 non-null object
dtypes: float64(4), int64(2), object(18)
memory usage: 2.8+ MB

# Look at AGI files again

In [13]:
print(agi_by_zip_2017.info())
agi_by_zip_2017.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166537 entries, 0 to 166536
Columns: 153 entries, statefips to a12000
dtypes: int64(152), object(1)
memory usage: 194.4+ MB
None

,statefips,state,zipcode,agi_stub,n1,mars1,mars2,mars4,elf,cprep,...,n85300,a85300,n11901,a11901,n11900,a11900,n11902,a11902,n12000,a12000
0,1,AL,0,1,802640,474470,99850,216600,717050,44090,...,0,0,64680,53602,700940,1803125,698100,1796343,2860,4917
1,1,AL,0,2,499070,218590,137460,129760,448190,26230,...,0,0,77660,118725,419640,1175607,416180,1165352,4250,8894
2,1,AL,0,3,268590,89780,134440,38280,241060,14160,...,0,0,67820,156752,201030,560461,197060,547812,5440,13482
3,1,AL,0,4,170880,32180,124070,11660,154120,7980,...,0,0,48440,141721,121930,396526,118460,383588,3160,12369
4,1,AL,0,5,229870,22810,196990,5540,208380,11120,...,50,19,91100,465160,138250,588068,130970,529001,8430,55564

In [14]:
# in new dataframe: filter out all but Tennessee, exclude zip codes of 0 and 99999
# df.loc[df['column_name'] == some_value]
# df.loc[(df['column_name'] >= A) & (df['column_name'] <= B)]


tenn_agi_by_zip_2017 = agi_by_zip_2017.loc[(agi_by_zip_2017['state']  == 'TN') 
                    & (agi_by_zip_2017['zipcode'] > 0)
                    & (agi_by_zip_2017['zipcode'] != 99999)]

# confirm new dataframe
print(tenn_agi_by_zip_2017.info())
print(tenn_agi_by_zip_2017.head(30))
# tenn_agi_by_zip_2017.tail(30)

# save new dataframe
tenn_agi_by_zip_2017.to_csv('../data/tenn_agi_by_zip_2017.csv')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3528 entries, 134992 to 138519
Columns: 153 entries, statefips to a12000
dtypes: int64(152), object(1)
memory usage: 4.1+ MB
None
        statefips state  zipcode  agi_stub     n1  mars1  mars2  mars4    elf  \
134992         47    TN    37010         1    830    620    130     70    700
134993         47    TN    37010         2    450    190    180     60    410
134994         47    TN    37010         3    390    100    230     50    330
134995         47    TN    37010         4    290     30    240     20    260
134996         47    TN    37010         5    460     20    430      0    420
134997         47    TN    37010         6    100      0     90      0     90
134998         47    TN    37012         1    340    230     70     40    320
134999         47    TN    37012         2    280    110    100     60    260
135000         47    TN    37012         3    160     60    110      0    160
135001         47    TN    37012         4    120      0    110      0    110
135002         47    TN    37012         5     60      0     50      0     60
135003         47    TN    37012         6      0      0      0      0      0
135004         47    TN    37013         1  16160  10780   1790   3300  13600
135005         47    TN    37013         2  15230   7850   3240   3620  13480
135006         47    TN    37013         3   6430   2520   2580   1100   5640
135007         47    TN    37013         4   2830    670   1840    270   2490
135008         47    TN    37013         5   2440    360   1930    130   2150
135009         47    TN    37013         6    190     40    150      0    170
135010         47    TN    37014         1    290    240     30     30    260
135011         47    TN    37014         2    160     90     50      0    140
135012         47    TN    37014         3    110     40     70     20    100
135013         47    TN    37014         4     90     30     70      0     60
135014         47    TN    37014         5    230      0    210      0    200
135015         47    TN    37014         6    220      0    210      0    210
135016         47    TN    37015         1   2840   1830    420    530   2540
135017         47    TN    37015         2   2540   1270    670    500   2310
135018         47    TN    37015         3   1400    460    740    150   1280
135019         47    TN    37015         4    840    120    680     40    780
135020         47    TN    37015         5    770     80    670     20    700
135021         47    TN    37015         6    120      0    110      0    110

        cprep  ...  n85300  a85300  n11901  a11901  n11900  a11900  n11902  \
134992     80  ...       0       0      90      76     660     943     660
134993     20  ...       0       0      70     165     370    1257     360
134994     30  ...       0       0     100     271     290     936     280
134995      0  ...       0       0      60     167     230     801     220
134996     30  ...       0       0     190    1185     270    1037     260
134997      0  ...      40      74      60    1292      40    1255      30
134998      0  ...       0       0      30      13     300     565     290
134999     30  ...       0       0      30      64     250     691     250
135000      0  ...       0       0      30     108     130     382     130
135001      0  ...       0       0      40     142     100     385     100
135002      0  ...       0       0       0       0      40     213      40
135003      0  ...       0       0       0       0       0       0       0
135004   1580  ...       0       0    2160    2462   13640   31167   13610
135005   1110  ...       0       0    2330    5049   12880   36204   12860
135006    470  ...       0       0    1420    4203    5010   13671    4990
135007    210  ...       0       0     790    2965    2040    6347    2020
135008    200  ...       0       0     950    5290    1490    5325    1460
135009      0  ...      90     281     120    3891      70    1212      60
135010     30  ...       0       0      50      40     220     255     220
135011      0  ...       0       0      50     126     120     231     120
135012     30  ...       0       0      30     119      80     210      80
135013      0  ...       0       0      30      81      60     212      50
135014     30  ...       0       0      90     552     150     625     140
135015      0  ...     120     173     100    2095     120    1172      90
135016    140  ...       0       0     290     302    2420    4932    2410
135017    100  ...       0       0     330     675    2200    5731    2180
135018     60  ...       0       0     290     789    1100    3217    1090
135019     30  ...       0       0     210     637     630    2012     620
135020     60  ...       0       0     280    1529     490    2159     470
135021      0  ...      50     152      70    1972      50     613      40

        a11902  n12000  a12000
134992     939       0       0
134993    1247      30      57
134994     872       0       0
134995     778       0       0
134996     988      20     557
134997     297       0       0
134998     565       0       0
134999     679       0       0
135000     382       0       0
135001     385       0       0
135002     173       0       0
135003       0       0       0
135004   31115      30      30
135005   36150      30      54
135006   13616      30      55
135007    6277      20      70
135008    5163      60     475
135009     566       0       0
135010     255       0       0
135011     229       0       0
135012     209       0       0
135013     194       0       0
135014     561       0       0
135015     601      50     624
135016    4885      20      44
135017    5650      20      53
135018    3180      30      69
135019    1980       0       0
135020    2049      30     254
135021     368       0       0

[30 rows x 153 columns]

In [15]:
cities.columns

Index(['Year', 'StateAbbr', 'StateDesc', 'CityName', 'GeographicLevel',
       'DataSource', 'Category', 'UniqueID', 'Measure', 'Data_Value_Unit',
       'DataValueTypeID', 'Data_Value_Type', 'Data_Value',
       'Low_Confidence_Limit', 'High_Confidence_Limit',
       'Data_Value_Footnote_Symbol', 'Data_Value_Footnote', 'PopulationCount',
       'GeoLocation', 'CategoryID', 'MeasureId', 'CityFIPS', 'TractFIPS',
       'Short_Question_Text'],
      dtype='object')

In [16]:
# I think thi sline is now redundant
# cities.columns = cities.columns.str.replace(' ', '_').str.lower()

# rename these columns before export
new_names = ['year', 'state_abbr', 'state_desc', 'city_name', 'geographic_level', 'data_source', 
             'category', 'uid', 'measure', 'data_value_unit', 'data_value_type_id', 'data_value_type',
             'data_value', 'low_confidence_limit', 'high_confidence_limit', 'data_value_footnote_symbol', 
             'data_value_footnote', 'population_count', 'geolocation', 'category_id', 'measure_id', 'city_fips', 
             'tract_fips', 'short_question_text']

cities.columns = new_names

cities.head()

,year,state_abbr,state_desc,city_name,geographic_level,data_source,category,uid,measure,data_value_unit,...,high_confidence_limit,data_value_footnote_symbol,data_value_footnote,population_count,geolocation,category_id,measure_id,city_fips,tract_fips,short_question_text
0,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Health Outcomes,4748000-47157007300,Chronic kidney disease among adults aged >=18 ...,%,...,3.2,NaN,NaN,"4,127","(35.1209840406, -89.9363799177)",HLTHOUT,KIDNEY,4748000,4.715701e+10,Chronic Kidney Disease
1,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Health Outcomes,4752006-47037018700,Stroke among adults aged >=18 Years,%,...,2.6,NaN,NaN,565,"(36.0524304194, -86.8041894006)",HLTHOUT,STROKE,4752006,4.703702e+10,Stroke
2,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Unhealthy Behaviors,4748000-47157001900,Current smoking among adults aged >=18 Years,%,...,35.3,NaN,NaN,"1,601","(35.1633019396, -90.0233116647)",UNHBEH,CSMOKING,4748000,4.715700e+10,Current Smoking
3,2016,TN,Tennessee,Memphis,Census Tract,BRFSS,Prevention,4748000-47157001500,Papanicolaou smear use among adult women aged ...,%,...,86.4,NaN,NaN,"1,745","(35.1529878945, -89.9740999194)",PREVENT,PAPTEST,4748000,4.715700e+10,Pap Smear Test
4,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,4752006-47037018102,Binge drinking among adults aged >=18 Years,%,...,13.6,NaN,NaN,"3,529","(36.1276431581, -86.8678623837)",UNHBEH,BINGE,4752006,4.703702e+10,Binge Drinking

In [17]:
# before saving, need to split geolocation column into longitude and latitude
# df[['First','Last']] = df.Name.str.split(expand=True) 
cities[['latitude','longitude']] = cities.geolocation.str.split(expand=True)

# df.Num_of_employees = df.Num_of_employees.replace({"10-Jan": "1-10",
#                                                    "Nov-50": "11-50"})

cities.latitude = cities.latitude.str.replace('(','') 
cities.latitude = cities.latitude.str.replace(',','') 
cities.longitude = cities.longitude.str.replace(')','') 

cities.head()

,year,state_abbr,state_desc,city_name,geographic_level,data_source,category,uid,measure,data_value_unit,...,data_value_footnote,population_count,geolocation,category_id,measure_id,city_fips,tract_fips,short_question_text,latitude,longitude
0,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Health Outcomes,4748000-47157007300,Chronic kidney disease among adults aged >=18 ...,%,...,NaN,"4,127","(35.1209840406, -89.9363799177)",HLTHOUT,KIDNEY,4748000,4.715701e+10,Chronic Kidney Disease,35.1209840406,-89.9363799177
1,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Health Outcomes,4752006-47037018700,Stroke among adults aged >=18 Years,%,...,NaN,565,"(36.0524304194, -86.8041894006)",HLTHOUT,STROKE,4752006,4.703702e+10,Stroke,36.0524304194,-86.8041894006
2,2017,TN,Tennessee,Memphis,Census Tract,BRFSS,Unhealthy Behaviors,4748000-47157001900,Current smoking among adults aged >=18 Years,%,...,NaN,"1,601","(35.1633019396, -90.0233116647)",UNHBEH,CSMOKING,4748000,4.715700e+10,Current Smoking,35.1633019396,-90.0233116647
3,2016,TN,Tennessee,Memphis,Census Tract,BRFSS,Prevention,4748000-47157001500,Papanicolaou smear use among adult women aged ...,%,...,NaN,"1,745","(35.1529878945, -89.9740999194)",PREVENT,PAPTEST,4748000,4.715700e+10,Pap Smear Test,35.1529878945,-89.9740999194
4,2017,TN,Tennessee,Nashville,Census Tract,BRFSS,Unhealthy Behaviors,4752006-47037018102,Binge drinking among adults aged >=18 Years,%,...,NaN,"3,529","(36.1276431581, -86.8678623837)",UNHBEH,BINGE,4752006,4.703702e+10,Binge Drinking,36.1276431581,-86.8678623837

In [18]:
# save new dataframe
cities.to_csv('../data/500cities_clean.csv')

## Look at County Health Rankings
- what to do with this file?
- what am I looking at?
- is this relevant?

In [19]:
tenn_health_rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 3 columns):
Unnamed: 0    49 non-null object
Unnamed: 1    241 non-null object
Unnamed: 2    192 non-null object
dtypes: object(3)
memory usage: 6.2+ KB

In [23]:
# how many header rows?
tenn_health_rankings.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,A collaboration between the Robert Wood Johnso...,NaN,NaN
1,NaN,NaN,NaN
2,This Excel file contains the ranks and scores ...,NaN,NaN
3,NaN,NaN,NaN
4,For additional information about how the Count...,NaN,NaN
5,NaN,NaN,NaN
6,Contents:,NaN,NaN
7,Outcomes & Factors Rankings,NaN,NaN
8,Outcomes & Factors Sub Rankings,NaN,NaN
9,Ranked Measures Data (including measure values...,NaN,NaN
10,Additional Measures Data (including measure va...,NaN,NaN
11,Ranked Measure Sources and Years,NaN,NaN
12,Additional Measure Sources and Years,NaN,NaN
13,NaN,NaN,NaN
14,* 95% confidence intervals are provided wher...,NaN,NaN
15,"** Z-scores are ""adjusted"" z-scores (e.g., mu...",NaN,NaN
16,NaN,NaN,NaN
17,Measure,Data Elements,Description
18,Geographic identifiers,FIPS,Federal Information Processing Standard
19,NaN,State,NaN
20,NaN,County,NaN
21,Premature death,Deaths,Number of deaths <75
22,NaN,Years of Potential Life Lost Rate,"Age-adjusted YPLL rate per 100,000"
23,NaN,95% CI - Low,95% confidence interval reported by National C...
24,NaN,95% CI - High,NaN
25,NaN,Z-Score,(Measure - Average of state counties)/(Standar...
26,NaN,YPLL Rate (AIAN),"Age-adjusted YPLL rate per 100,000 for non-His..."
27,NaN,YPLL Rate (AIAN) 95% CI - Low,95% confidence interval
28,NaN,YPLL Rate (AIAN) 95% CI - High,NaN
29,NaN,YPLL Rate (Asian),"Age-adjusted YPLL rate per 100,000 for non-His..."