# Analyzing average_medicare_allowed_amount in Tennessee Dataframes

In [61]:
# import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [62]:
# import and set up dataframes
# tennessee_outpatient_amaa = pd.read_csv('../data/tennessee_outpatient_amaa.csv')
# tennessee_providers_amaa = pd.read_csv('../data/tennessee_providers_amaa.csv')
tennessee_outpatient_clean = pd.read_csv('../data/tennessee_outpatient_clean.csv', low_memory=False)
tennessee_providers_clean = pd.read_csv('../data/tennessee_providers_clean.csv', low_memory=False)
cbsa_to_name = pd.read_csv('../data/core-based-statistical-areas-cbsas-and-combined-statistical-areas-csas.csv', engine='python')

# tennessee_outpatient_filtered = pd.read_csv('../data/tennessee_outpatient_filtered.csv')
# tennessee_providers_filtered = pd.read_csv('../data/tennessee_providers_filtered.csv')

tennessee_outpatient_clean.head()

,Unnamed: 0,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,provider_hospital_referral_region_(hrr),apc,apc_description,...,average_medicare_allowed_amount,average_medicare_payment_amount,outlier_comprehensive_apc_services,average_medicare_outlier_amount,zip,cbsa,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,0,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,1141.086681,899.775086,0.0,0.0,38301,15140,0.000167,0.000428,0.0,0.000185
1,1,440002.0,Jackson-Madison County General Hospital,620 Skyline Drive,Jackson,TN,38301.0,TN - Jackson,5302.0,Level 2 Upper GI Procedures,...,1141.086681,899.775086,0.0,0.0,38301,27180,0.999833,0.999572,1.0,0.999815
2,2,440003.0,Sumner Regional Medical Center,555 Hartsville Pike,Gallatin,TN,37066.0,TN - Nashville,5302.0,Level 2 Upper GI Procedures,...,1223.454825,968.390614,0.0,0.0,37066,34980,1.000000,1.000000,1.0,1.000000
3,3,440006.0,Tristar Skyline Medical Center,3441 Dickerson Pike,Nashville,TN,37207.0,TN - Nashville,5302.0,Level 2 Upper GI Procedures,...,1248.620000,994.840000,0.0,0.0,37207,34980,1.000000,1.000000,1.0,1.000000
4,4,440009.0,Cumberland Medical Center,421 S Main St,Crossville,TN,38555.0,TN - Nashville,5302.0,Level 2 Upper GI Procedures,...,1152.663556,914.163556,0.0,0.0,38555,18900,1.000000,1.000000,1.0,1.000000

In [63]:
tennessee_outpatient_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47417 entries, 0 to 47416
Data columns (total 23 columns):
Unnamed: 0                                   47417 non-null int64
provider_id                                  79 non-null float64
provider_name                                79 non-null object
provider_street_address                      79 non-null object
provider_city                                79 non-null object
provider_state                               79 non-null object
provider_zip_code                            79 non-null float64
provider_hospital_referral_region_(hrr)      79 non-null object
apc                                          79 non-null float64
apc_description                              79 non-null object
beneficiaries                                77 non-null float64
comprehensive_apc_services                   79 non-null float64
average_estimated_total_submitted_charges    79 non-null float64
average_medicare_allowed_amount              79 non-null float64
average_medicare_payment_amount              79 non-null float64
outlier_comprehensive_apc_services           73 non-null float64
average_medicare_outlier_amount              73 non-null float64
zip                                          47417 non-null int64
cbsa                                         47417 non-null int64
res_ratio                                    47417 non-null float64
bus_ratio                                    47417 non-null float64
oth_ratio                                    47417 non-null float64
tot_ratio                                    47417 non-null float64
dtypes: float64(14), int64(3), object(6)
memory usage: 8.3+ MB

In [64]:
tennessee_providers_clean.head(25)

,Unnamed: 0,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,...,average_medicare_allowed_amt,average_submitted_chrg_amt,average_medicare_payment_amt,average_medicare_standard_amt,zip,cbsa,res_ratio,bus_ratio,oth_ratio,tot_ratio
0,0,1.104055e+09,Wartburg surgery center llc,NaN,NaN,NaN,NaN,O,1236 KNOXVILLE HWY,NaN,...,512.000000,2491.50000,401.404878,465.444390,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.124498e+09,Endoscopy center of inland empire llc,NaN,NaN,NaN,NaN,O,401 COMMERCE ST,SUITE 600,...,660.990000,2200.00000,512.294375,484.535000,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1.225040e+09,Endoscopy center of st thomas lp,NaN,NaN,NaN,NaN,O,4230 HARDING RD,SUITE 400,...,565.636471,1500.00000,435.024706,468.650588,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1.295709e+09,Columbia tn endoscopy asc llc,NaN,NaN,NaN,NaN,O,1510 1/2 HATCHER LN,NaN,...,587.110000,2427.00000,454.431471,471.222941,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1.326054e+09,Fort sanders west op surgery center,NaN,NaN,NaN,NaN,O,210 FORT SANDERS WEST BLVD,NaN,...,524.800000,1151.50000,398.998000,480.566800,NaN,NaN,NaN,NaN,NaN,NaN
5,5,1.356397e+09,"Holston valley ambulatory surgery center, llc",NaN,NaN,NaN,NaN,O,103 W STONE DR,NaN,...,516.890000,1561.00000,389.649107,474.137679,NaN,NaN,NaN,NaN,NaN,NaN
6,6,1.427152e+09,Patient partners llc,NaN,NaN,NaN,NaN,O,890 N BLUEJAY WAY,NaN,...,587.110000,2800.00000,456.564783,473.356087,NaN,NaN,NaN,NaN,NaN,NaN
7,7,1.548217e+09,Upper cumberland physicians surgery center llc,NaN,NaN,NaN,NaN,O,467 N WHITNEY AVE,NaN,...,500.692923,1365.00000,392.143231,454.668462,NaN,NaN,NaN,NaN,NaN,NaN
8,8,1.639300e+09,Murfreesboro medical clinic p a,NaN,NaN,NaN,NaN,O,1272 GARRISON DR,NaN,...,587.110000,739.69697,433.111515,465.513939,NaN,NaN,NaN,NaN,NaN,NaN
9,9,1.760468e+09,G i diagnostic and therapeutic center llc,NaN,NaN,NaN,NaN,O,1310 WOLF PARK DR,NaN,...,571.740000,1320.00000,437.763673,479.256939,NaN,NaN,NaN,NaN,NaN,NaN
10,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,501.0,35620.0,0.000000,1.000000,0.000000,1.000000
11,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,601.0,38660.0,1.000000,1.000000,1.000000,1.000000
12,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,602.0,10380.0,1.000000,1.000000,1.000000,1.000000
13,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,603.0,10380.0,1.000000,1.000000,1.000000,1.000000
14,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,604.0,10380.0,1.000000,1.000000,1.000000,1.000000
15,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,605.0,10380.0,1.000000,1.000000,1.000000,1.000000
16,16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,606.0,99999.0,1.000000,1.000000,1.000000,1.000000
17,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,610.0,10380.0,1.000000,1.000000,1.000000,1.000000
18,18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,611.0,10380.0,1.000000,1.000000,1.000000,1.000000
19,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,612.0,41980.0,0.003585,0.000406,0.000000,0.003199
20,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,612.0,10380.0,0.000950,0.000406,0.003091,0.000952
21,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,612.0,11640.0,0.995464,0.999189,0.996909,0.995850
22,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,613.0,11640.0,1.000000,1.000000,1.000000,1.000000
23,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,614.0,11640.0,1.000000,1.000000,1.000000,1.000000
24,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,616.0,11640.0,1.000000,1.000000,1.000000,1.000000

hello world

In [65]:
tennessee_providers_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47425 entries, 0 to 47424
Data columns (total 33 columns):
Unnamed: 0                          47425 non-null int64
npi                                 10 non-null float64
nppes_provider_last_org_name        10 non-null object
nppes_provider_first_name           0 non-null float64
nppes_provider_mi                   0 non-null float64
nppes_credentials                   0 non-null float64
nppes_provider_gender               0 non-null float64
nppes_entity_code                   10 non-null object
nppes_provider_street1              10 non-null object
nppes_provider_street2              2 non-null object
nppes_provider_city                 10 non-null object
nppes_provider_zip                  10 non-null float64
nppes_provider_state                10 non-null object
nppes_provider_country              10 non-null object
provider_type                       10 non-null object
medicare_participation_indicator    10 non-null object
place_of_service                    10 non-null object
hcpcs_code                          10 non-null float64
hcpcs_description                   10 non-null object
hcpcs_drug_indicator                10 non-null object
line_srvc_cnt                       10 non-null float64
bene_unique_cnt                     10 non-null float64
bene_day_srvc_cnt                   10 non-null float64
average_medicare_allowed_amt        10 non-null float64
average_submitted_chrg_amt          10 non-null float64
average_medicare_payment_amt        10 non-null float64
average_medicare_standard_amt       10 non-null float64
zip                                 47415 non-null float64
cbsa                                47415 non-null float64
res_ratio                           47415 non-null float64
bus_ratio                           47415 non-null float64
oth_ratio                           47415 non-null float64
tot_ratio                           47415 non-null float64
dtypes: float64(20), int64(1), object(12)
memory usage: 11.9+ MB

# join CBSA2name so that we get CBSA names

In [66]:
cbsa_to_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
CBSA Code                                     1918 non-null object
Metropolitan Division Code                    111 non-null object
CSA Code                                      1256 non-null object
CBSA Title                                    1916 non-null object
Metropolitan/Micropolitan Statistical Area    1915 non-null object
Metropolitan Division Title                   1915 non-null object
CSA Title                                     110 non-null object
County/County Equivalent                      1255 non-null object
State Name                                    1915 non-null object
FIPS State Code                               1915 non-null object
FIPS County Code                              1915 non-null object
Central/Outlying County                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: object(15)
memory usage: 224.9+ KB

In [68]:
cbsa_to_name.columns = cbsa_to_name.columns.str.replace(' ', '_').str.lower()
cbsa_to_name['cbsa_code'] = pd.to_numeric(cbsa_to_name['cbsa_code'], errors='coerce')
cbsa_to_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918 entries, 0 to 1917
Data columns (total 15 columns):
cbsa_code                                     1915 non-null float64
metropolitan_division_code                    111 non-null object
csa_code                                      1256 non-null object
cbsa_title                                    1916 non-null object
metropolitan/micropolitan_statistical_area    1915 non-null object
metropolitan_division_title                   1915 non-null object
csa_title                                     110 non-null object
county/county_equivalent                      1255 non-null object
state_name                                    1915 non-null object
fips_state_code                               1915 non-null object
fips_county_code                              1915 non-null object
central/outlying_county                       1915 non-null object
columnm                                       1915 non-null object
columnn                                       1255 non-null object
columno                                       110 non-null object
dtypes: float64(1), object(14)
memory usage: 224.9+ KB

In [69]:
tennessee_outpatient_clean = pd.merge(left=tennessee_outpatient_clean, right=cbsa_to_name, 
                                      left_on='cbsa', right_on='cbsa_code', how='outer')
tennessee_outpatient_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 202424 entries, 0 to 202423
Data columns (total 38 columns):
Unnamed: 0                                    202421 non-null float64
provider_id                                   427 non-null float64
provider_name                                 427 non-null object
provider_street_address                       427 non-null object
provider_city                                 427 non-null object
provider_state                                427 non-null object
provider_zip_code                             427 non-null float64
provider_hospital_referral_region_(hrr)       427 non-null object
apc                                           427 non-null float64
apc_description                               427 non-null object
beneficiaries                                 425 non-null float64
comprehensive_apc_services                    427 non-null float64
average_estimated_total_submitted_charges     427 non-null float64
average_medicare_allowed_amount               427 non-null float64
average_medicare_payment_amount               427 non-null float64
outlier_comprehensive_apc_services            378 non-null float64
average_medicare_outlier_amount               378 non-null float64
zip                                           202421 non-null float64
cbsa                                          202421 non-null float64
res_ratio                                     202421 non-null float64
bus_ratio                                     202421 non-null float64
oth_ratio                                     202421 non-null float64
tot_ratio                                     202421 non-null float64
cbsa_code                                     191227 non-null float64
metropolitan_division_code                    68061 non-null object
csa_code                                      166471 non-null object
cbsa_title                                    191228 non-null object
metropolitan/micropolitan_statistical_area    191227 non-null object
metropolitan_division_title                   191227 non-null object
csa_title                                     68060 non-null object
county/county_equivalent                      166470 non-null object
state_name                                    191227 non-null object
fips_state_code                               191227 non-null object
fips_county_code                              191227 non-null object
central/outlying_county                       191227 non-null object
columnm                                       191227 non-null object
columnn                                       166470 non-null object
columno                                       68060 non-null object
dtypes: float64(18), object(20)
memory usage: 60.2+ MB

# Get Files Ready for Tableau
- drop un-needed columns
- fix datatypes

In [70]:
# Drop all but listed tables for outpatient
tennessee_outpatient_tableau = tennessee_outpatient_clean[[
    'provider_name',
    'apc',
    'apc_description',
    'beneficiaries',
    'comprehensive_apc_services',
    'average_estimated_total_submitted_charges',
    'average_medicare_allowed_amount',
    'average_medicare_payment_amount',
    'average_medicare_outlier_amount',
    'zip',
    'cbsa',
    'cbsa_title']]
tennessee_outpatient_tableau = tennessee_outpatient_tableau.dropna()
tennessee_outpatient_tableau

,provider_name,apc,apc_description,beneficiaries,comprehensive_apc_services,average_estimated_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,average_medicare_outlier_amount,zip,cbsa,cbsa_title
0,Jackson-Madison County General Hospital,5302.0,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301.0,15140.0,Brownsville
10,Jackson-Madison County General Hospital,5302.0,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301.0,27180.0,Jackson
11,Jackson-Madison County General Hospital,5302.0,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301.0,27180.0,Jackson
12,Jackson-Madison County General Hospital,5302.0,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301.0,27180.0,Jackson
13,Jackson-Madison County General Hospital,5302.0,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301.0,27180.0,Jackson
...,...,...,...,...,...,...,...,...,...,...,...,...
16516,Tennova Healthcare-Harton,5302.0,Level 2 Upper GI Procedures,17.0,20.0,14810.852500,1229.380000,979.510000,0.0,37388.0,43180.0,Shelbyville
16529,Henry County Medical Center,5302.0,Level 2 Upper GI Procedures,91.0,94.0,4146.583404,1060.050638,835.803191,0.0,38242.0,37540.0,Paris
16539,Southern Tennessee Regional Health System Lawr...,5302.0,Level 2 Upper GI Procedures,46.0,49.0,4714.467347,1209.476327,955.294490,0.0,38464.0,29980.0,Lawrenceburg
16550,Tennova Healthcare-Cleveland,5302.0,Level 2 Upper GI Procedures,32.0,36.0,18695.453889,1063.973889,820.619167,0.0,37311.0,17420.0,Cleveland
16551,Tennova Healthcare-Cleveland,5302.0,Level 2 Upper GI Procedures,32.0,36.0,18695.453889,1063.973889,820.619167,0.0,37311.0,17420.0,Cleveland

In [83]:
tennessee_outpatient_tableau['zip']= tennessee_outpatient_tableau['zip'].astype(int)
tennessee_outpatient_tableau['apc']= tennessee_outpatient_tableau['apc'].astype(int)
tennessee_outpatient_tableau['cbsa']= tennessee_outpatient_tableau['cbsa'].astype(int)
tennessee_outpatient_tableau.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 366 entries, 0 to 16551
Data columns (total 12 columns):
provider_name                                366 non-null object
apc                                          366 non-null int64
apc_description                              366 non-null object
beneficiaries                                366 non-null float64
comprehensive_apc_services                   366 non-null float64
average_estimated_total_submitted_charges    366 non-null float64
average_medicare_allowed_amount              366 non-null float64
average_medicare_payment_amount              366 non-null float64
average_medicare_outlier_amount              366 non-null float64
zip                                          366 non-null int64
cbsa                                         366 non-null int64
cbsa_title                                   366 non-null object
dtypes: float64(6), int64(3), object(3)
memory usage: 37.2+ KB

In [84]:
tennessee_outpatient_tableau

,provider_name,apc,apc_description,beneficiaries,comprehensive_apc_services,average_estimated_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,average_medicare_outlier_amount,zip,cbsa,cbsa_title
0,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,15140,Brownsville
10,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
11,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
12,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
13,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
...,...,...,...,...,...,...,...,...,...,...,...,...
16516,Tennova Healthcare-Harton,5302,Level 2 Upper GI Procedures,17.0,20.0,14810.852500,1229.380000,979.510000,0.0,37388,43180,Shelbyville
16529,Henry County Medical Center,5302,Level 2 Upper GI Procedures,91.0,94.0,4146.583404,1060.050638,835.803191,0.0,38242,37540,Paris
16539,Southern Tennessee Regional Health System Lawr...,5302,Level 2 Upper GI Procedures,46.0,49.0,4714.467347,1209.476327,955.294490,0.0,38464,29980,Lawrenceburg
16550,Tennova Healthcare-Cleveland,5302,Level 2 Upper GI Procedures,32.0,36.0,18695.453889,1063.973889,820.619167,0.0,37311,17420,Cleveland
16551,Tennova Healthcare-Cleveland,5302,Level 2 Upper GI Procedures,32.0,36.0,18695.453889,1063.973889,820.619167,0.0,37311,17420,Cleveland

In [85]:
# Drop all but listed tables for proviers
tennessee_providers_tableau = tennessee_providers_clean[[
    'nppes_provider_last_org_name',
    'provider_type',
    'place_of_service',
    'hcpcs_code',
    'hcpcs_description',
    'line_srvc_cnt',
    'bene_unique_cnt',
    'average_medicare_allowed_amt',
    'average_submitted_chrg_amt',
    'average_medicare_payment_amt',
    'average_medicare_standard_amt']]
tennessee_providers_tableau = tennessee_providers_tableau.dropna()
tennessee_providers_tableau.head(50)

,nppes_provider_last_org_name,provider_type,place_of_service,hcpcs_code,hcpcs_description,line_srvc_cnt,bene_unique_cnt,average_medicare_allowed_amt,average_submitted_chrg_amt,average_medicare_payment_amt,average_medicare_standard_amt
0,Wartburg surgery center llc,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,41.0,36.0,512.000000,2491.50000,401.404878,465.444390
1,Endoscopy center of inland empire llc,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,16.0,16.0,660.990000,2200.00000,512.294375,484.535000
2,Endoscopy center of st thomas lp,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,17.0,16.0,565.636471,1500.00000,435.024706,468.650588
3,Columbia tn endoscopy asc llc,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,34.0,29.0,587.110000,2427.00000,454.431471,471.222941
4,Fort sanders west op surgery center,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,25.0,22.0,524.800000,1151.50000,398.998000,480.566800
5,"Holston valley ambulatory surgery center, llc",Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,56.0,55.0,516.890000,1561.00000,389.649107,474.137679
6,Patient partners llc,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,23.0,23.0,587.110000,2800.00000,456.564783,473.356087
7,Upper cumberland physicians surgery center llc,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,65.0,63.0,500.692923,1365.00000,392.143231,454.668462
8,Murfreesboro medical clinic p a,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,33.0,32.0,587.110000,739.69697,433.111515,465.513939
9,G i diagnostic and therapeutic center llc,Ambulatory Surgical Center,F,43249.0,Balloon dilation of esophagus using an endoscope,196.0,170.0,571.740000,1320.00000,437.763673,479.256939

In [86]:
tennessee_providers_tableau['hcpcs_code']= tennessee_providers_tableau['hcpcs_code'].astype(int)
tennessee_providers_tableau['hcpcs_code']= tennessee_providers_tableau['hcpcs_code'].astype(object)
tennessee_providers_tableau.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 9
Data columns (total 11 columns):
nppes_provider_last_org_name     10 non-null object
provider_type                    10 non-null object
place_of_service                 10 non-null object
hcpcs_code                       10 non-null object
hcpcs_description                10 non-null object
line_srvc_cnt                    10 non-null float64
bene_unique_cnt                  10 non-null float64
average_medicare_allowed_amt     10 non-null float64
average_submitted_chrg_amt       10 non-null float64
average_medicare_payment_amt     10 non-null float64
average_medicare_standard_amt    10 non-null float64
dtypes: float64(6), object(5)
memory usage: 960.0+ bytes

In [87]:
# save files

tennessee_outpatient_tableau.to_csv('../data/tennessee_outpatient_tableau.csv')
tennessee_providers_tableau.to_csv('../data/tennessee_providers_tableau.csv')

In [88]:
tennessee_outpatient_tableau

,provider_name,apc,apc_description,beneficiaries,comprehensive_apc_services,average_estimated_total_submitted_charges,average_medicare_allowed_amount,average_medicare_payment_amount,average_medicare_outlier_amount,zip,cbsa,cbsa_title
0,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,15140,Brownsville
10,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
11,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
12,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
13,Jackson-Madison County General Hospital,5302,Level 2 Upper GI Procedures,202.0,232.0,5687.435690,1141.086681,899.775086,0.0,38301,27180,Jackson
...,...,...,...,...,...,...,...,...,...,...,...,...
16516,Tennova Healthcare-Harton,5302,Level 2 Upper GI Procedures,17.0,20.0,14810.852500,1229.380000,979.510000,0.0,37388,43180,Shelbyville
16529,Henry County Medical Center,5302,Level 2 Upper GI Procedures,91.0,94.0,4146.583404,1060.050638,835.803191,0.0,38242,37540,Paris
16539,Southern Tennessee Regional Health System Lawr...,5302,Level 2 Upper GI Procedures,46.0,49.0,4714.467347,1209.476327,955.294490,0.0,38464,29980,Lawrenceburg
16550,Tennova Healthcare-Cleveland,5302,Level 2 Upper GI Procedures,32.0,36.0,18695.453889,1063.973889,820.619167,0.0,37311,17420,Cleveland
16551,Tennova Healthcare-Cleveland,5302,Level 2 Upper GI Procedures,32.0,36.0,18695.453889,1063.973889,820.619167,0.0,37311,17420,Cleveland